<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cadet</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  
   
  <servlet>
    <servlet-name>Adashboard</servlet-name>
    <jsp-file>/admin/dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adashboard</servlet-name>
    <url-pattern>/admin/dashboard</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>Cdashboard</servlet-name>
    <jsp-file>/client/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cdashboard</servlet-name>
    <url-pattern>/client/dashboard</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  
  <servlet-name>emailvery</servlet-name>
    <jsp-file>/pages/EmailVerification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailvery</servlet-name>
    <url-pattern>/EmailVerification</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/pages/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddCategory</servlet-name>
    <servlet-class>org.cadet.admin.controller.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory</servlet-name>
    <url-pattern>/admin/questionBank/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCategory</servlet-name>
    <servlet-class>org.cadet.admin.controller.ViewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategory</servlet-name>
    <url-pattern>/admin/questionBank/ViewCategory</url-pattern>
  </servlet-mapping>
  <!--servlet>
  	<servlet-name>StartTestA</servlet-name>
  	<servlet-class>org.cadet.client.controller.adaptive.StartTestA</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StartTestA</servlet-name>
  	<url-pattern>/Test/Adaptive/StartTestA</url-pattern>
  </servlet-mapping-->
</web-app>