.body {
	padding-top:2%;
}
.test_portion {
	border-radius:15px;
	border: thin solid #000;
	position:absolute;
	background-color: #FFF;
	left:5%;
	height:90%;
	width:90%;
	font-size:20px;
	box-shadow:3px 3px 5px 6px #ccc;
}
.instruction {
	border-radius:15px;
	border: thin solid #000;
	position:absolute;
	height:50%;
	width:70%;
	margin-left:15%;
	margin-bottom:10%;
	margin-right:15%;
	margin-top:15%;
	font-weight: bold;
	text-align:center;
	box-shadow:3px 3px 5px 6px #ccc;
}
.closestartbtn
{
   	border-radius:10px;
	height:10%;
	width:10%;
	margin-bottom:30%;
	margin-top:70%;
	margin-left:45%;
	position:absolute;
	cursor: pointer;
}
.header
{
	margin-top:0.5%;
	text-align:center;
}


.Time{
	position:absolute;
	height:10%;
	width:20%;
	left:40%;
	right:40%;
	margin-top:2%;
	margin-bottom:5%;
	text-align:center;
}