*{

}


#logo{
	height: auto;
	width: 150px;	
}


.nav{
	font-size: 150%;
}

#ulcontainer{
	height: inherit;
	margin-top: 10px;
	margin-left: 25%;
}

.hero-unit{
	position:relative;
	border-radius: 20px;
	height:200px;
}

#hero-unit-support{
	position: relative;
	height: 50px;
	width: 100%;
	background-color: #EEE;
	margin-top: -80px;
}


#welcome{
	font-size: 80px;
	text-align: center;
	margin-top: 10%;
	border: 2px #64696B solid;
	border-radius: 20px;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	
}

#joinus{
	position: relative;
	font-size: 50px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;	
}


caption{
	text-align: left;
	font-size: 40px;
	padding: 5px;
	margin-bottom: 25px;	
}

#form{
	margin-top: 5%;
	font-size: 25px;
}

.loginutils{
	font-size: 15px;
	color: #000;
}

.btn-primary{
	height: 60px;
	width: 200px;
	font-size: 25px;
}

#btnlogin{
	height: 60px;
	width: 200px;
	font-size: 25px;
}

td{
	padding: 5px;
}



